<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 class="prueba">Hola mundo</h1>

<!-- <h2>{{this.nombre_aplicacion}}</h2>

<h3 [class]="this.nombre">Muestro pripiedad</h3>

<h4>{{this.nombre}}</h4>



<input type="text" [(ngModel)]="this.nombre">

<button (click)="cambiarClase()">Cambiar clase</button>


<h5 [class]="this.colorTitulo">FullStack</h5>

<input type="text" [(ngModel)]="this.nombreColor">

<button (click)="cambiarColorTitulo(this.nombreColor)">Cambiar color titulo</button> -->

<app-componente-prueba></app-componente-prueba>

<router-outlet></router-outlet>
