

<h1>Hola mundo</h1>

<!-- <h2>{{this.binding}}</h2>

<h3 [class] = "clase_prueba"> Color rojo</h3>

<h4> {{cambio_etiqueta}}</h4>

<p>{{nombre}}</p>

<input type="text" [(ngModel)]="nombre">
<button (click)="this.cambiarEtiqueta()"> Boton</button>


<h1 [class] = "clase_titulo">Titulo</h1>

<button (click)="this.cambiarColor(nombre)">Cambiar color titulo</button> -->

<div class="row">
    <a routerLink="paginaInicio">Ir a pagina de inicio</a>
</div>
<div class="row">
    <a routerLink="reactiveForm">Ir Reactive Formr</a>
</div>
<div class="row">
    <a routerLink="login">Login</a>
</div>


<router-outlet></router-outlet>
