
<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!this.authService.isAuthenticate()" mat-menu-item (click)="irLogin()">login </button>
      <button *ngIf="this.authService.isAuthenticate()" mat-menu-item (click)="irUpdateUsuario()">Actualizar Usuario </button>
      <!-- <button mat-menu-item (click)="irCrearUsuario()">Crear Usuario </button> -->
      <button mat-menu-item (click)="logaut()">logaout</button>
    </mat-menu>
    <span>App clase Martes y viernes        {{this.ambiente}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
